<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="camera">
<!--xacro:macro name="camera1"-->
  <!-- Camera -->
  <link name="camera_link">
    <collision>
      <origin xyz="-0.0448715996112585 -1.24067423001861E-14 -0.0040173060703157" rpy="0 0 0"/>
      <geometry>
        <!--mesh filename="package://wheelchair_witharm_description/meshes/camera_link.STL" /-->
        <!-- <box size="0.1 0.1 0.1"/> -->
        <mesh filename="package://wheelchair_witharm_description/meshes/realsense.dae" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <!--mesh filename="package://wheelchair_witharm_description/meshes/camera_link.STL" /-->
        <mesh filename="package://wheelchair_witharm_description/meshes/realsense.dae" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <inertial>
      <mass value="0" />  <!-- 1e-5 -->
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>
 
  <!-- Camera TUDO-->
  <!--link name="camera_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://robot_sim_demo/models/meshes/realsense.dae" />
      </geometry>
    </visual>
    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <joint name="camera_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="-0.005 0 .06" rpy="0 0 0"/>
    <parent link="pitch_platform"/>
    <child link="camera_link"/>
  </joint-->

 <!--/xacro:macro-->
</robot>
