<?xml version="1.0"?>
<robot name="wheelchair_with_all" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find wheelchair_witharm_description)/urdf/wheelchair_with_person.xacro" />
    <xacro:include filename="$(find wheelchair_witharm_description)/urdf/arm_and_gripper/gen3_robotiq_2f_85.xacro" />

<!-- arm -->
  <joint
    name="base_arm_joint"
    type="fixed">
    <origin
      xyz="0.284346132074759 -0.282000000523709 0.364088000000036"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="base_arm_link" />
    <axis
      xyz="0 0 -1" />
  </joint>

</robot>
